.container {
    display: flex; /* Flexbox ile yan yana diz */
    background-color: aqua  ;
}
body {
    background-color: aqua; /* Arka plan rengini aqua yap */
    margin: 0; /* Varsayılan margin'i sıfırla */
    padding: 0; /* Varsayılan padding'i sıfırla */
}

.item {
    text-align: center; /* Yazıları ortala */
    margin-right: 20px; /* Sağ tarafta boşluk bırak */
    size: 2000px;
}

img {
    width: 800px; /* Genişliği 200 piksel yap */
    height: auto; /* Yüksekliği otomatik ayarla */
    margin-top: 50px;
}
p{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    position: absolute; /* Başlığı resmin üzerine yerleştir */
    top: 8px; /* Yukarıdan 10 piksel yerleştir */
    left: 10px; /* Soldan 10 piksel yerleştir */
     /* Başlık rengi (isteğe bağlı) */
   /* Başlık arka plan rengi */
    padding: 5px; /* Başlık içindeki boşluk */
    border-radius: 5px; /* Köşeleri yuvarla */
    size: 453px;
}
.footer h1{
    top: 600px;

}
footer{
    display: flex;
    
}
.footer text{
    size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}